" {{{ Pentadactyl Emacs configuration -*- vimrc -*-
"
" Massimo Lauria 2014, 2015


"
" Use the right version of emacsclient
"
js <<EOM
switch (services.runtime.OS) {
   case "Darwin": 
     options.editor = "/Applications/Emacs.app/Contents/MacOS/bin/emacsclient";
     break;
   case "Linux":
   options.editor = "emacsclient -c";
     break;
}
EOM

"
" org-mode capture commands
"
command capture -description "Execute emacsclient" -javascript <<EOF
        var emacsClient = options.editor;
        var url = "\"org-protocol://capture://w/"+ encodeURIComponent(content.location) + "/"+ encodeURIComponent(content.document.title) +"/" + encodeURIComponent(content.window.getSelection()) + "\"";
        var command = emacsClient + " " + url;
        CommandExMode().open("!" + command);
EOF
